# SimpleGX KERNEL init script for OnePlus 5

on property:sys.post_boot.parsed=1

    # Tweak IO performance after boot complete
    write /sys/block/sda/queue/read_ahead_kb 256

	# Enable Adaptive LMK
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0

	# turn off debugging for certain modules
	write /sys/module/kernel/parameters/initcall_debug 0
	write /sys/module/lowmemorykiller/parameters/debug_level 0
	write /sys/module/alarm/parameters/debug_mask 0
	write /sys/module/alarm_dev/parameters/debug_mask 0
	write /sys/module/binder/parameters/debug_mask 0
	write /sys/module/xt_qtaguid/parameters/debug_mask 0

	# disable some wakelocks
	write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws 0
	write /sys/module/wakeup/parameters/enable_wlan_extscan_wl_ws 0
	write /sys/module/wakeup/parameters/enable_ipa_ws 0
	write /sys/module/wakeup/parameters/enable_wlan_wow_wl_ws 0
	write /sys/module/wakeup/parameters/enable_wlan_ws 0
	write /sys/module/wakeup/parameters/enable_timerfd_ws 0
	write /sys/module/wakeup/parameters/enable_netlink_ws 0
	write /sys/module/wakeup/parameters/enable_netmgr_wl_ws 0
